@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Fonts */
    --font-libreFranklin: "Libre Franklin", sans-serif;
    /* Background and Foreground */
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%; /* Darker foreground for contrast */

    /* Card and Popover */
    --card: 0 0% 100%; /* Light background for cards */
    --card-foreground: 224 71.4% 4.1%; /* Dark text for cards */

    --popover: 0 0% 100%; /* Light background for popovers */
    --popover-foreground: 224 71.4% 4.1%; /* Dark text for popovers */

    /* Primary Colors */
    --primary: 120 15% 20%; /* Dark Green (Normal state) */
    --primary-foreground: 210 20% 98%; /* Light text for primary */

    /* Secondary Colors */
    --secondary: 56 94% 84%; /* Light Yellow (Normal state) */
    --secondary-foreground: 240 15% 10%; /* Darker text for secondary */

    /* Muted Colors */
    --muted: 220 14.3% 95.9%; /* Light background for muted elements */
    --muted-foreground: 224 71.4% 4.1%; /* Dark muted text */

    /* Accent Colors */
    --accent: 56 94% 84%; /* Light Yellow (same as secondary for emphasis) */
    --accent-foreground: 224 71.4% 4.1%; /* Dark text for accent */

    /* Destructive Colors */
    --destructive: 0 84.2% 60.2%; /* Red (Destructive actions) */
    --destructive-foreground: 210 20% 98%; /* Light text for destructive elements */

    /* Border and Input */
    --border: 220 13% 91%; /* Light border for separation */
    --input: 220 13% 91%; /* Input backgrounds */
    --ring: 224 71.4% 4.1%; /* Border for focus/ring color */

    /* Border Radius */
    --radius: 0.5rem; /* Rounded corners */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
